# HydroSOS - Persistence and Hydrological Analogues method

In this notebook, we explore the Persistance and Hydrological Analogue method

## Import the python libraries

In [1]:
%reset -f

In [2]:
# Importing the libraries
import pandas as pd
import seaborn as sns
import numpy as np
import calendar
import datetime
import matplotlib.pyplot as plt
import math
from scipy import stats
plt.style.use('classic')
%matplotlib inline

from IPython.display import HTML

sns.set()

## Functions

In [3]:
# Quantile Function Definitions
def q1(x):
    return x.quantile(0.28)

def q2(x):
    return x.median()

def q3(x):
    return x.quantile(0.72)

def q5(x):
    return x.quantile(0.05)

def q95(x):
    return x.quantile(0.95)

def q87(x):
    return x.quantile(0.87)

def q13(x):
    return x.quantile(0.13)

## Import Data

In this example we import the daily discharge data

In [4]:
today = datetime.date.today()

In [56]:
DISCHARGE_DAILY = pd.read_csv('../notebook_verificacion/santalucia_caudales_prueba.csv',parse_dates=['Fecha'],index_col="Fecha",dayfirst=True,na_values=" ")
# Identify the missing data
DISCHARGE_DAILY_date_missing = pd.date_range(start = '1980-01-01', end = today ,freq='D')
DISCHARGE_DAILY = DISCHARGE_DAILY.reindex(DISCHARGE_DAILY_date_missing,fill_value=None)
DISCHARGE_DAILY.index.name = 'Fecha' # Set index Fecha
DISCHARGE_DAILY.columns = ['Station','Discharge']
DISCHARGE_DAILY = DISCHARGE_DAILY.drop(columns='Station')
HTML(DISCHARGE_DAILY.head(6).to_html())

## Calculate monthly mean from daily data

First, we identify the months which contains lower that 5 null value observation.

In [57]:
# group the Dataframe in a monthly time scale
GROUPER_DISCHARGE_MONTHLY = DISCHARGE_DAILY.groupby(pd.Grouper(freq='1MS'))
NUMBER_MISSING = GROUPER_DISCHARGE_MONTHLY.apply(lambda x: pd.isnull(x).sum()).unstack(1)
# sum the number of null values and assing a "true" if the number of null values are lower that a number for a given month
BOOL_MISSING = GROUPER_DISCHARGE_MONTHLY.apply(lambda x: pd.isnull(x).sum()).unstack(1) < 5
BOOL_MISSING = BOOL_MISSING.to_frame() # convert to DataFrame
BOOL_MISSING.columns = ['missing'] # change the column name to "missing"

NUMBER_MISSING = NUMBER_MISSING.to_frame()
NUMBER_MISSING.columns = ['number_missing'] # change the column name to "missing"

After this, we calculate the monthly mean flow only if the null values in that month are below 5 values. Also define de water year starting in april.

In [58]:
DISCHARGE_MONTHLY = DISCHARGE_DAILY.resample('M').apply(lambda x: x.mean() if x.isnull().sum() < 5 else np.nan)
DISCHARGE_MONTHLY['Year'] = DISCHARGE_MONTHLY.index.year
DISCHARGE_MONTHLY['Month'] = DISCHARGE_MONTHLY.index.month
DISCHARGE_MONTHLY['water_year'] = DISCHARGE_MONTHLY.index.year.where(DISCHARGE_MONTHLY.index.month < 4, DISCHARGE_MONTHLY.index.year + 1)

HTML(DISCHARGE_MONTHLY.head(18).to_html(index=False))

In [59]:
## create column for day, month, year in the daily discharge ()
# DISCHARGE_DAILY['Year'] = DISCHARGE_DAILY.index.year
# DISCHARGE_DAILY['Month'] = DISCHARGE_DAILY.index.month
# DISCHARGE_DAILY['Day'] = DISCHARGE_DAILY.index.day
# DISCHARGE_DAILY['monthday'] = DISCHARGE_DAILY.index.day_of_year
# DISCHARGE_DAILY['water_year'] = DISCHARGE_DAILY.index.year.where(DISCHARGE_DAILY.index.month < 4, DISCHARGE_DAILY.index.year + 1)
## 
# DISCHARGE_MONTHLY.to_clipboard()

## Select by Climatology range

First, we transform the discharge to a logaritmic scale and we insert it in the dataframe

In [60]:
DISCHARGE_MONTHLY['Q_to_log'] = np.log(DISCHARGE_MONTHLY['Discharge'])

In this part we select the reference period for analysis. In this case we use the 1980/01-2023/01 period

In [61]:
DISCHARGE_MONTHLY_SELECTED = DISCHARGE_MONTHLY.loc['1980-01-01': today]
HTML(DISCHARGE_MONTHLY_SELECTED.tail(6).to_html(index=False))

In [62]:
HTML(DISCHARGE_MONTHLY_SELECTED.head(15).to_html(index=False))

Extract the years from the monthly discharge dataframe

In [63]:
YEAR_SELECTED = np.unique(DISCHARGE_MONTHLY_SELECTED['Year'])
display(YEAR_SELECTED)

array([1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990,
       1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001,
       2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012,
       2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023],
      dtype=int64)

In [64]:
YEAR_SELECTED[YEAR_SELECTED<1992]

array([1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990,
       1991], dtype=int64)

In [65]:
len(YEAR_SELECTED)

44

In [67]:
DISCHARGE_MONTHLY_SELECTED[DISCHARGE_MONTHLY_SELECTED['Month']==1]

            Discharge  Year  Month  water_year  Q_to_log
Fecha
1980-01-31   1.198613  1980      1        1980  0.181165
1981-01-31   9.649097  1981      1        1981  2.266864
1982-01-31   2.314161  1982      1        1982  0.839047
1983-01-31   5.504935  1983      1        1983  1.705645
1984-01-31  31.699452  1984      1        1984  3.456299
1985-01-31   3.292613  1985      1        1985  1.191681
1986-01-31   6.365613  1986      1        1986  1.850911
1987-01-31        NaN  1987      1        1987       NaN
1988-01-31  35.197677  1988      1        1988  3.560980
1989-01-31   3.159548  1989      1        1989  1.150429
1990-01-31   3.394032  1990      1        1990  1.222019
1991-01-31   9.386581  1991      1        1991  2.239281
1992-01-31        NaN  1992      1        1992       NaN
1993-01-31        NaN  1993      1        1993       NaN
1994-01-31        NaN  1994      1        1994       NaN
1995-01-31        NaN  1995      1        1995       NaN
1996-01-31        NaN  1996      1        1996       NaN
1997-01-31        NaN  1997      1        1997       NaN
1998-01-31        NaN  1998      1        1998       NaN
1999-01-31        NaN  1999      1        1999       NaN
2000-01-31        NaN  2000      1        2000       NaN
2001-01-31        NaN  2001      1        2001       NaN
2002-01-31        NaN  2002      1        2002       NaN
2003-01-31        NaN  2003      1        2003       NaN
2004-01-31        NaN  2004      1        2004       NaN
2005-01-31        NaN  2005      1        2005       NaN
2006-01-31        NaN  2006      1        2006       NaN
2007-01-31        NaN  2007      1        2007       NaN
2008-01-31        NaN  2008      1        2008       NaN
2009-01-31        NaN  2009      1        2009       NaN
2010-01-31        NaN  2010      1        2010       NaN
2011-01-31        NaN  2011      1        2011       NaN
2012-01-31        NaN  2012      1        2012       NaN
2013-01-31        NaN  2013      1        2013       NaN
2014-01-31        NaN  2014      1        2014       NaN
2015-01-31        NaN  2015      1        2015       NaN
2016-01-31        NaN  2016      1        2016       NaN
2017-01-31        NaN  2017      1        2017       NaN
2018-01-31        NaN  2018      1        2018       NaN
2019-01-31        NaN  2019      1        2019       NaN
2020-01-31        NaN  2020      1        2020       NaN
2021-01-31        NaN  2021      1        2021       NaN
2022-01-31        NaN  2022      1        2022       NaN
2023-01-31        NaN  2023      1        2023       NaN

## Calculate Monthly statistics for Q Log-transformed

In this part we calculate monthly statistcs for the QLog Variable.

 The statistis include: mean, min, max, std, q1(quantile 0.28), q3(quantile 0.72), q5(0.05), q95(0.95), q87(0.87), q13(0.13)

In [68]:
DISCHARGE_MONTHLY_STATS = DISCHARGE_MONTHLY_SELECTED.Q_to_log.groupby(DISCHARGE_MONTHLY_SELECTED.index.month).agg([np.min, q1, q2, np.mean, q3, np.max, np.std, q95, q5, q87, q13])
# Display results
HTML(DISCHARGE_MONTHLY_STATS.to_html())

In [105]:
## Calculate Daily statistics

#We reproduce the same procedure for the Daily dataframe

# DISCHARGE_DAILY_STATS = DISCHARGE_DAILY.Discharge.groupby(DISCHARGE_DAILY.monthday).agg([np.min, q1, q2, np.mean, q3, np.max, np.std, q5, q95, q87, q13])
# HTML(DISCHARGE_DAILY_STATS.head(12).to_html())

We re-shape the monthly log discharge dataframe using a pivot table for the Discharge (pivQ) and the log Discharge (pivLogQ)

In [69]:
DISCHARGE_MONTHLY_PIVOT = pd.pivot_table(DISCHARGE_MONTHLY_SELECTED, index=['Month'],columns=['Year'], values=['Discharge'],dropna=False)

In [70]:
DISCHARGE_MONTHLY_PIVOT.columns = YEAR_SELECTED
HTML(DISCHARGE_MONTHLY_PIVOT.to_html())

In [71]:
LOG_DISCHARGE_MONTHLY_PIVOT = pd.pivot_table(DISCHARGE_MONTHLY_SELECTED, index=['Month'],columns=['Year'], values=['Q_to_log'],dropna=False)

Rename the columns based on the reference years

In [72]:
LOG_DISCHARGE_MONTHLY_PIVOT.columns = YEAR_SELECTED
HTML(LOG_DISCHARGE_MONTHLY_PIVOT.to_html())

## Calculate the standarised monthly anomalies

After creating the dataframe that includes a multi-year monthly log discharge, we calculate the monthly anomalies using the mean and standard deviation

In [73]:
MONTHLY_ANOMALY = pd.DataFrame()
for n in YEAR_SELECTED:
    data = (LOG_DISCHARGE_MONTHLY_PIVOT[n] - DISCHARGE_MONTHLY_STATS['mean'])/DISCHARGE_MONTHLY_STATS['std']
    MONTHLY_ANOMALY[n] = data

In [74]:
MONTHLY_ANOMALY

,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
Month,,,,,,,,,,,,,,,,,,,,,
1,-1.536267,0.458249,-0.907146,-0.078435,1.595684,-0.569929,0.060480,NaN,1.695788,-0.609378,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0.241717,0.425784,0.164443,0.037709,2.259184,-1.246188,-0.407393,NaN,0.119670,-1.349524,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1.049742,-0.458319,-0.471385,-1.056707,1.123855,0.667133,-1.002581,NaN,1.681609,-1.100457,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1.300559,-0.274466,-0.475394,-0.507639,-0.272078,0.587747,-0.743722,NaN,0.717188,-1.221652,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1.075049,1.482334,0.656692,-0.915862,0.460168,0.516957,0.075766,NaN,-0.967284,-1.966323,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,0.632953,-0.280376,0.994073,0.146152,0.978806,0.530937,0.359025,NaN,-1.301700,-2.108455,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,0.682468,0.350652,0.620029,-0.290099,1.561809,0.633409,0.125589,NaN,-0.615400,-1.530132,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,0.109535,0.413811,0.234558,0.751669,NaN,0.220850,1.386902,NaN,-0.485248,-0.442800,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,-0.353978,0.614313,0.479720,1.523802,-0.010080,0.475918,1.003092,NaN,-1.031575,-1.350103,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,0.536702,-0.677438,NaN,1.351341,0.231029,0.671122,0.774743,NaN,-1.142164,-1.737324,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,-0.331749,-1.306468,NaN,0.847118,0.809480,0.336701,1.217815,NaN,-0.726399,-1.502100,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,1.297617,0.572945,NaN,-0.275393,-1.162990,-0.915141,0.701937,NaN,-1.251198,-0.235918,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

re-write the index from 1 to 12 (JAN to DEC)

In [75]:
MONTHLY_ANOMALY.index = np.arange(1, len(MONTHLY_ANOMALY) + 1)
HTML(MONTHLY_ANOMALY.to_html())

In [76]:
MONTHLY_ANOMALY.index.name = 'Month'

In [77]:
MONTHLY_ANOMALY

,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
Month,,,,,,,,,,,,,,,,,,,,,
1,-1.536267,0.458249,-0.907146,-0.078435,1.595684,-0.569929,0.060480,NaN,1.695788,-0.609378,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0.241717,0.425784,0.164443,0.037709,2.259184,-1.246188,-0.407393,NaN,0.119670,-1.349524,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1.049742,-0.458319,-0.471385,-1.056707,1.123855,0.667133,-1.002581,NaN,1.681609,-1.100457,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1.300559,-0.274466,-0.475394,-0.507639,-0.272078,0.587747,-0.743722,NaN,0.717188,-1.221652,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1.075049,1.482334,0.656692,-0.915862,0.460168,0.516957,0.075766,NaN,-0.967284,-1.966323,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,0.632953,-0.280376,0.994073,0.146152,0.978806,0.530937,0.359025,NaN,-1.301700,-2.108455,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,0.682468,0.350652,0.620029,-0.290099,1.561809,0.633409,0.125589,NaN,-0.615400,-1.530132,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,0.109535,0.413811,0.234558,0.751669,NaN,0.220850,1.386902,NaN,-0.485248,-0.442800,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,-0.353978,0.614313,0.479720,1.523802,-0.010080,0.475918,1.003092,NaN,-1.031575,-1.350103,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,0.536702,-0.677438,NaN,1.351341,0.231029,0.671122,0.774743,NaN,-1.142164,-1.737324,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,-0.331749,-1.306468,NaN,0.847118,0.809480,0.336701,1.217815,NaN,-0.726399,-1.502100,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,1.297617,0.572945,NaN,-0.275393,-1.162990,-0.915141,0.701937,NaN,-1.251198,-0.235918,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Save dataframe of monthly  ANOMALY and DISCHARGE

In [78]:
ANOMALY_TS = pd.melt(MONTHLY_ANOMALY.reset_index(), id_vars='Month',var_name=['Year'],ignore_index = True)
ANOMALY_TS.columns = ['Month','Year','Anomaly_Qlog']

In [79]:
MONTHLY_ANOMALY

,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
Month,,,,,,,,,,,,,,,,,,,,,
1,-1.536267,0.458249,-0.907146,-0.078435,1.595684,-0.569929,0.060480,NaN,1.695788,-0.609378,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0.241717,0.425784,0.164443,0.037709,2.259184,-1.246188,-0.407393,NaN,0.119670,-1.349524,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1.049742,-0.458319,-0.471385,-1.056707,1.123855,0.667133,-1.002581,NaN,1.681609,-1.100457,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1.300559,-0.274466,-0.475394,-0.507639,-0.272078,0.587747,-0.743722,NaN,0.717188,-1.221652,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1.075049,1.482334,0.656692,-0.915862,0.460168,0.516957,0.075766,NaN,-0.967284,-1.966323,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,0.632953,-0.280376,0.994073,0.146152,0.978806,0.530937,0.359025,NaN,-1.301700,-2.108455,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,0.682468,0.350652,0.620029,-0.290099,1.561809,0.633409,0.125589,NaN,-0.615400,-1.530132,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,0.109535,0.413811,0.234558,0.751669,NaN,0.220850,1.386902,NaN,-0.485248,-0.442800,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,-0.353978,0.614313,0.479720,1.523802,-0.010080,0.475918,1.003092,NaN,-1.031575,-1.350103,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,0.536702,-0.677438,NaN,1.351341,0.231029,0.671122,0.774743,NaN,-1.142164,-1.737324,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,-0.331749,-1.306468,NaN,0.847118,0.809480,0.336701,1.217815,NaN,-0.726399,-1.502100,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,1.297617,0.572945,NaN,-0.275393,-1.162990,-0.915141,0.701937,NaN,-1.251198,-0.235918,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [80]:
DISCHARGE_MONTHLY['Anomaly_Qlog'] = ANOMALY_TS['Anomaly_Qlog'][0:len(DISCHARGE_MONTHLY['Discharge'])].values

In [81]:
DISCHARGE_MONTHLY

             Discharge  Year  Month  water_year  Q_to_log  Anomaly_Qlog
Fecha
1980-01-31    1.198613  1980      1        1980  0.181165     -1.536267
1980-02-29   28.386414  1980      2        1980  3.345911      0.241717
1980-03-31   86.782323  1980      3        1980  4.463403      1.049742
1980-04-30  172.187367  1980      4        1981  5.148583      1.300559
1980-05-31  275.560258  1980      5        1981  5.618806      1.075049
...                ...   ...    ...         ...       ...           ...
2022-12-31         NaN  2022     12        2023       NaN           NaN
2023-01-31         NaN  2023      1        2023       NaN           NaN
2023-02-28         NaN  2023      2        2023       NaN           NaN
2023-03-31         NaN  2023      3        2023       NaN           NaN
2023-04-30         NaN  2023      4        2024       NaN           NaN

[520 rows x 6 columns]

### Save  MONTHLY_ANOMALY

In [82]:
MONTHLY_ANOMALY.to_csv('../notebook_verificacion/santalucia_caudales_prueba_MA.csv')

### Save  DISCHARGE_MONTHLY

In [83]:
DISCHARGE_MONTHLY.to_csv('../notebook_verificacion/santalucia_caudales_prueba_DA.csv')