In [25]:
# Importing the libraries
import pandas as pd
import numpy as np
import plotly.graph_objects as go
import plotly.express as px
import os

from IPython.display import HTML

import warnings
warnings.filterwarnings('ignore')

In [26]:
# File paths
file_actual = r'../../output_ribasim/ESC-00.csv'

# Read CSVs into dataframes
DF_ACTUAL = pd.read_csv(file_actual,parse_dates=['Fecha'],index_col="Fecha",dayfirst=False,na_values="NA")

In [27]:
DF_ACTUAL.index.name = 'Fecha'  # Set index Fecha
# DF_ACTUAL['year'] = DF_ACTUAL.index.year
# DF_ACTUAL['month'] = DF_ACTUAL.index.month
DF_ACTUAL['monthday'] = DF_ACTUAL.index.day_of_year

In [28]:
HTML(DF_ACTUAL.tail(6).to_html())

In [29]:
# Calcular el caudal promedio mensual de cada año para las columnas seleccionadas y crear DF_MES

cols = ['80%_CG', '80%_PS', 'TOMA AACC', 'NO REGULADO', 'TRASVASE', 'ARAZATI_1', 'ARAZATI_2', 'DEMANDA']

# Crear columnas de año y mes
DF_ACTUAL['year'] = DF_ACTUAL.index.year
DF_ACTUAL['month'] = DF_ACTUAL.index.month

# Agrupar por año y mes y calcular el promedio mensual
DF_MES = DF_ACTUAL.groupby(['year', 'month'])[cols].mean().reset_index()

# Agregar columna con el número de días de cada mes y año en DF_MES

DF_MES['dias_mes'] = DF_MES.apply(
    lambda row: pd.Period(year=int(row['year']), month=int(row['month']), freq='M').days_in_month,
    axis=1
)

HTML(DF_MES.tail(48).to_html())

In [30]:
# Convertir las columnas seleccionadas de m3/s a hm3 usando el correspondiente dias_mes

cols = ['80%_CG', '80%_PS',  'TOMA AACC','NO REGULADO', 'TRASVASE', 'ARAZATI_1', 'ARAZATI_2', 'DEMANDA']

DF_VOL_MES = DF_MES.copy()
for col in cols:
    # m3/s * segundos/día * días/mes / 1e6 = hm3/mes
    DF_VOL_MES[col] = DF_VOL_MES[col] * 86400 * DF_VOL_MES['dias_mes'] / 1e6

HTML(DF_VOL_MES.head(6).to_html())

In [31]:
# Calcular el volumen anual por año hidrológico (Abril a Marzo) y agregar columna WATER_YEAR

cols = ['80%_CG', '80%_PS',  'TOMA AACC','NO REGULADO', 'TRASVASE', 'ARAZATI_1', 'ARAZATI_2', 'DEMANDA']

# Definir el año hidrológico: si el mes >= 4, es el año actual, si es < 4, es el año anterior
DF_VOL_MES['WATER_YEAR'] = DF_VOL_MES.apply(
    lambda row: row['year'] if row['month'] >= 4 else row['year'] - 1,
    axis=1
)

# Sumar el volumen total por año hidrológico para las columnas seleccionadas
DF_VOL_ANUAL = DF_VOL_MES.groupby('WATER_YEAR')[cols].sum().reset_index()

HTML(DF_VOL_ANUAL.to_html())