# HydroSOS - Persistence and Hydrological Analogues method

In this notebook, we explore the Persistance and Hydrological Analogue method

## Import the python libraries

In [42]:
%reset -f

In [43]:
# Importing the libraries
import pandas as pd
import seaborn as sns
import numpy as np
import calendar
import datetime
import matplotlib.pyplot as plt
import math
from scipy import stats
plt.style.use('classic')
%matplotlib inline

from IPython.display import HTML

sns.set()

## Functions

In [44]:
# Quantile Function Definitions
def q1(x):
    return x.quantile(0.28)

def q2(x):
    return x.median()

def q3(x):
    return x.quantile(0.72)

def q5(x):
    return x.quantile(0.05)

def q95(x):
    return x.quantile(0.95)

def q87(x):
    return x.quantile(0.87)

def q13(x):
    return x.quantile(0.13)

## Import Data

In this example we import the daily discharge data

In [45]:
today = datetime.date.today()

In [46]:
today

datetime.date(2023, 4, 28)

In [47]:
DISCHARGE_DAILY = pd.read_csv('../data/santalucia_caudales_27abr2023.csv',parse_dates=['Fecha'],index_col="Fecha",dayfirst=True,na_values="NA")
# Identify the missing data
DISCHARGE_DAILY_date_missing = pd.date_range(start = '1980-01-01', end = today ,freq='D')
DISCHARGE_DAILY = DISCHARGE_DAILY.reindex(DISCHARGE_DAILY_date_missing,fill_value=None)
DISCHARGE_DAILY.index.name = 'Fecha' # Set index Fecha
DISCHARGE_DAILY.columns = ['Station','Discharge']
DISCHARGE_DAILY = DISCHARGE_DAILY.drop(columns='Station')
HTML(DISCHARGE_DAILY.head(6).to_html())

## Calculate monthly mean from daily data

First, we identify the months which contains lower that 5 null value observation.

In [48]:
# group the Dataframe in a monthly time scale
GROUPER_DISCHARGE_MONTHLY = DISCHARGE_DAILY.groupby(pd.Grouper(freq='1MS'))
NUMBER_MISSING = GROUPER_DISCHARGE_MONTHLY.apply(lambda x: pd.isnull(x).sum()).unstack(1)
# sum the number of null values and assing a "true" if the number of null values are lower that a number for a given month
BOOL_MISSING = GROUPER_DISCHARGE_MONTHLY.apply(lambda x: pd.isnull(x).sum()).unstack(1) < 5
BOOL_MISSING = BOOL_MISSING.to_frame() # convert to DataFrame
BOOL_MISSING.columns = ['missing'] # change the column name to "missing"

NUMBER_MISSING = NUMBER_MISSING.to_frame()
NUMBER_MISSING.columns = ['number_missing'] # change the column name to "missing"

After this, we calculate the monthly mean flow only if the null values in that month are below 5 values. Also define de water year starting in april.

In [53]:
DISCHARGE_MONTHLY = DISCHARGE_DAILY.resample('M').apply(lambda x: x.mean() if x.isnull().sum() < 10 else np.nan)
DISCHARGE_MONTHLY['Year'] = DISCHARGE_MONTHLY.index.year
DISCHARGE_MONTHLY['Month'] = DISCHARGE_MONTHLY.index.month
DISCHARGE_MONTHLY['water_year'] = DISCHARGE_MONTHLY.index.year.where(DISCHARGE_MONTHLY.index.month < 4, DISCHARGE_MONTHLY.index.year + 1)

HTML(DISCHARGE_MONTHLY.head(18).to_html(index=False))

In [54]:
## create column for day, month, year in the daily discharge ()
# DISCHARGE_DAILY['Year'] = DISCHARGE_DAILY.index.year
# DISCHARGE_DAILY['Month'] = DISCHARGE_DAILY.index.month
# DISCHARGE_DAILY['Day'] = DISCHARGE_DAILY.index.day
# DISCHARGE_DAILY['monthday'] = DISCHARGE_DAILY.index.day_of_year
# DISCHARGE_DAILY['water_year'] = DISCHARGE_DAILY.index.year.where(DISCHARGE_DAILY.index.month < 4, DISCHARGE_DAILY.index.year + 1)
## 
# DISCHARGE_MONTHLY.to_clipboard()

## Select by Climatology range

First, we transform the discharge to a logaritmic scale and we insert it in the dataframe

In [55]:
DISCHARGE_MONTHLY['Q_to_log'] = np.log(DISCHARGE_MONTHLY['Discharge'])

In this part we select the reference period for analysis. In this case we use the 1980/01-2023/01 period

In [58]:
DISCHARGE_MONTHLY_SELECTED = DISCHARGE_MONTHLY.loc['1980-01-01': '2023-05-01']
HTML(DISCHARGE_MONTHLY_SELECTED.tail(6).to_html(index=False))

Extract the years from the monthly discharge dataframe

In [59]:
YEAR_SELECTED = np.unique(DISCHARGE_MONTHLY_SELECTED['Year'])
display(YEAR_SELECTED)

array([1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990,
       1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001,
       2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012,
       2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023],
      dtype=int64)

In [60]:
len(YEAR_SELECTED)

44

## Calculate Monthly statistics for Q Log-transformed

In this part we calculate monthly statistcs for the QLog Variable.

 The statistis include: mean, min, max, std, q1(quantile 0.28), q3(quantile 0.72), q5(0.05), q95(0.95), q87(0.87), q13(0.13)

In [61]:
DISCHARGE_MONTHLY_STATS = DISCHARGE_MONTHLY_SELECTED.Q_to_log.groupby(DISCHARGE_MONTHLY_SELECTED.index.month).agg([np.min, q1, q2, np.mean, q3, np.max, np.std, q95, q5, q87, q13])
# Display results
HTML(DISCHARGE_MONTHLY_STATS.to_html())

In [62]:
## Calculate Daily statistics

#We reproduce the same procedure for the Daily dataframe

# DISCHARGE_DAILY_STATS = DISCHARGE_DAILY.Discharge.groupby(DISCHARGE_DAILY.monthday).agg([np.min, q1, q2, np.mean, q3, np.max, np.std, q5, q95, q87, q13])
# HTML(DISCHARGE_DAILY_STATS.head(12).to_html())

We re-shape the monthly log discharge dataframe using a pivot table for the Discharge (pivQ) and the log Discharge (pivLogQ)

In [63]:
DISCHARGE_MONTHLY_PIVOT = pd.pivot_table(DISCHARGE_MONTHLY_SELECTED, index=['Month'],columns=['Year'], values=['Discharge'],dropna=False)

In [64]:
DISCHARGE_MONTHLY_PIVOT.columns = YEAR_SELECTED
HTML(DISCHARGE_MONTHLY_PIVOT.to_html())

In [65]:
LOG_DISCHARGE_MONTHLY_PIVOT = pd.pivot_table(DISCHARGE_MONTHLY_SELECTED, index=['Month'],columns=['Year'], values=['Q_to_log'],dropna=False)

Rename the columns based on the reference years

In [66]:
LOG_DISCHARGE_MONTHLY_PIVOT.columns = YEAR_SELECTED
HTML(LOG_DISCHARGE_MONTHLY_PIVOT.to_html())

## Calculate the standarised monthly anomalies

After creating the dataframe that includes a multi-year monthly log discharge, we calculate the monthly anomalies using the mean and standard deviation

In [67]:
MONTHLY_ANOMALY = pd.DataFrame()
for n in YEAR_SELECTED:
    data = (LOG_DISCHARGE_MONTHLY_PIVOT[n] - DISCHARGE_MONTHLY_STATS['mean'])/DISCHARGE_MONTHLY_STATS['std']
    MONTHLY_ANOMALY[n] = data

In [68]:
MONTHLY_ANOMALY

,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
Month,,,,,,,,,,,,,,,,,,,,,
1,-2.123750,-0.308179,-1.551073,-0.796712,0.727208,-1.244110,-0.670261,-0.504405,0.818331,-1.280020,...,NaN,0.204800,0.814189,0.200969,0.324539,NaN,-0.385739,-0.230398,1.141266,-0.810341
2,0.316909,0.511895,0.235052,0.100800,2.454052,-1.259258,-0.370705,-0.773939,0.187623,-1.368724,...,NaN,-0.394508,-0.887051,0.577828,-0.659732,NaN,-0.742382,0.860497,-0.252152,-0.951652
3,1.120851,-0.362955,-0.375811,-0.951718,1.193772,0.744396,-0.898463,0.402005,1.742555,-0.994765,...,NaN,-0.677517,-1.096631,-0.545900,0.112274,-0.449993,-1.059530,0.710564,-0.389803,-1.550890
4,1.200881,-0.162872,-0.336847,-0.364767,-0.160803,0.583685,-0.569182,-0.573368,0.695763,-0.983002,...,NaN,NaN,2.118149,-0.969378,-0.979009,-1.319303,-1.188353,0.670950,-0.613546,-1.664257
5,1.373637,1.804841,0.930711,-0.734193,0.722645,0.782769,0.315669,-0.976373,-0.788636,-1.846345,...,NaN,-1.283716,0.049850,0.107734,-0.537679,0.053286,-1.607545,-0.087954,-0.178636,NaN
6,0.796236,-0.163576,1.175735,0.284660,1.159690,0.689027,0.508366,-1.715410,-1.236878,-2.084692,...,NaN,-1.814261,-0.301783,-0.850826,-0.520173,1.715769,0.585062,1.115231,-1.331390,NaN
7,0.669569,0.327620,0.605223,-0.332697,1.575762,0.619012,0.095685,-0.033314,-0.667932,-1.610597,...,NaN,-2.458694,1.464433,0.166312,0.883619,-0.018995,-0.531656,-0.129605,0.197415,NaN
8,0.585540,0.927440,0.726022,1.307074,-0.886873,0.710619,2.020854,-0.018238,-0.082788,-0.035092,...,NaN,0.983076,0.589616,1.700595,NaN,0.098847,-0.737193,-0.005090,-1.282212,NaN
9,-0.481964,0.523972,0.384146,1.468819,-0.124697,0.380196,0.927865,-0.596046,-1.185904,-1.516816,...,NaN,-1.124536,0.693663,1.629718,NaN,0.482405,0.104265,0.059747,-1.975643,NaN
10,0.640823,-0.748537,NaN,1.573028,0.291037,0.794642,0.913218,0.584085,-1.280330,-1.961382,...,NaN,-0.102707,-0.580942,-0.108481,NaN,1.729348,-0.961647,-1.006693,-1.762722,NaN
11,-0.107321,-1.188138,NaN,1.199867,1.158132,0.633891,1.610914,-0.415193,-0.544928,-1.405065,...,1.227963,-1.188595,-0.514190,-0.337047,NaN,-0.157611,-1.797352,-1.153155,-1.097971,NaN
12,0.958023,0.398420,NaN,-0.256680,-0.942096,-0.750703,0.498030,-0.413689,-1.010211,-0.226197,...,NaN,0.400305,-0.312370,-0.803140,NaN,-0.782450,-1.398219,-1.154836,-1.063870,NaN

re-write the index from 1 to 12 (JAN to DEC)

In [69]:
MONTHLY_ANOMALY.index = np.arange(1, len(MONTHLY_ANOMALY) + 1)
HTML(MONTHLY_ANOMALY.to_html())

In [70]:
MONTHLY_ANOMALY.index.name = 'Month'

In [71]:
MONTHLY_ANOMALY

,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
Month,,,,,,,,,,,,,,,,,,,,,
1,-2.123750,-0.308179,-1.551073,-0.796712,0.727208,-1.244110,-0.670261,-0.504405,0.818331,-1.280020,...,NaN,0.204800,0.814189,0.200969,0.324539,NaN,-0.385739,-0.230398,1.141266,-0.810341
2,0.316909,0.511895,0.235052,0.100800,2.454052,-1.259258,-0.370705,-0.773939,0.187623,-1.368724,...,NaN,-0.394508,-0.887051,0.577828,-0.659732,NaN,-0.742382,0.860497,-0.252152,-0.951652
3,1.120851,-0.362955,-0.375811,-0.951718,1.193772,0.744396,-0.898463,0.402005,1.742555,-0.994765,...,NaN,-0.677517,-1.096631,-0.545900,0.112274,-0.449993,-1.059530,0.710564,-0.389803,-1.550890
4,1.200881,-0.162872,-0.336847,-0.364767,-0.160803,0.583685,-0.569182,-0.573368,0.695763,-0.983002,...,NaN,NaN,2.118149,-0.969378,-0.979009,-1.319303,-1.188353,0.670950,-0.613546,-1.664257
5,1.373637,1.804841,0.930711,-0.734193,0.722645,0.782769,0.315669,-0.976373,-0.788636,-1.846345,...,NaN,-1.283716,0.049850,0.107734,-0.537679,0.053286,-1.607545,-0.087954,-0.178636,NaN
6,0.796236,-0.163576,1.175735,0.284660,1.159690,0.689027,0.508366,-1.715410,-1.236878,-2.084692,...,NaN,-1.814261,-0.301783,-0.850826,-0.520173,1.715769,0.585062,1.115231,-1.331390,NaN
7,0.669569,0.327620,0.605223,-0.332697,1.575762,0.619012,0.095685,-0.033314,-0.667932,-1.610597,...,NaN,-2.458694,1.464433,0.166312,0.883619,-0.018995,-0.531656,-0.129605,0.197415,NaN
8,0.585540,0.927440,0.726022,1.307074,-0.886873,0.710619,2.020854,-0.018238,-0.082788,-0.035092,...,NaN,0.983076,0.589616,1.700595,NaN,0.098847,-0.737193,-0.005090,-1.282212,NaN
9,-0.481964,0.523972,0.384146,1.468819,-0.124697,0.380196,0.927865,-0.596046,-1.185904,-1.516816,...,NaN,-1.124536,0.693663,1.629718,NaN,0.482405,0.104265,0.059747,-1.975643,NaN
10,0.640823,-0.748537,NaN,1.573028,0.291037,0.794642,0.913218,0.584085,-1.280330,-1.961382,...,NaN,-0.102707,-0.580942,-0.108481,NaN,1.729348,-0.961647,-1.006693,-1.762722,NaN
11,-0.107321,-1.188138,NaN,1.199867,1.158132,0.633891,1.610914,-0.415193,-0.544928,-1.405065,...,1.227963,-1.188595,-0.514190,-0.337047,NaN,-0.157611,-1.797352,-1.153155,-1.097971,NaN
12,0.958023,0.398420,NaN,-0.256680,-0.942096,-0.750703,0.498030,-0.413689,-1.010211,-0.226197,...,NaN,0.400305,-0.312370,-0.803140,NaN,-0.782450,-1.398219,-1.154836,-1.063870,NaN

## Save dataframe of monthly  ANOMALY and DISCHARGE

In [72]:
ANOMALY_TS = pd.melt(MONTHLY_ANOMALY.reset_index(), id_vars='Month',var_name=['Year'],ignore_index = True)
ANOMALY_TS.columns = ['Month','Year','Anomaly_Qlog']

In [73]:
MONTHLY_ANOMALY

,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
Month,,,,,,,,,,,,,,,,,,,,,
1,-2.123750,-0.308179,-1.551073,-0.796712,0.727208,-1.244110,-0.670261,-0.504405,0.818331,-1.280020,...,NaN,0.204800,0.814189,0.200969,0.324539,NaN,-0.385739,-0.230398,1.141266,-0.810341
2,0.316909,0.511895,0.235052,0.100800,2.454052,-1.259258,-0.370705,-0.773939,0.187623,-1.368724,...,NaN,-0.394508,-0.887051,0.577828,-0.659732,NaN,-0.742382,0.860497,-0.252152,-0.951652
3,1.120851,-0.362955,-0.375811,-0.951718,1.193772,0.744396,-0.898463,0.402005,1.742555,-0.994765,...,NaN,-0.677517,-1.096631,-0.545900,0.112274,-0.449993,-1.059530,0.710564,-0.389803,-1.550890
4,1.200881,-0.162872,-0.336847,-0.364767,-0.160803,0.583685,-0.569182,-0.573368,0.695763,-0.983002,...,NaN,NaN,2.118149,-0.969378,-0.979009,-1.319303,-1.188353,0.670950,-0.613546,-1.664257
5,1.373637,1.804841,0.930711,-0.734193,0.722645,0.782769,0.315669,-0.976373,-0.788636,-1.846345,...,NaN,-1.283716,0.049850,0.107734,-0.537679,0.053286,-1.607545,-0.087954,-0.178636,NaN
6,0.796236,-0.163576,1.175735,0.284660,1.159690,0.689027,0.508366,-1.715410,-1.236878,-2.084692,...,NaN,-1.814261,-0.301783,-0.850826,-0.520173,1.715769,0.585062,1.115231,-1.331390,NaN
7,0.669569,0.327620,0.605223,-0.332697,1.575762,0.619012,0.095685,-0.033314,-0.667932,-1.610597,...,NaN,-2.458694,1.464433,0.166312,0.883619,-0.018995,-0.531656,-0.129605,0.197415,NaN
8,0.585540,0.927440,0.726022,1.307074,-0.886873,0.710619,2.020854,-0.018238,-0.082788,-0.035092,...,NaN,0.983076,0.589616,1.700595,NaN,0.098847,-0.737193,-0.005090,-1.282212,NaN
9,-0.481964,0.523972,0.384146,1.468819,-0.124697,0.380196,0.927865,-0.596046,-1.185904,-1.516816,...,NaN,-1.124536,0.693663,1.629718,NaN,0.482405,0.104265,0.059747,-1.975643,NaN
10,0.640823,-0.748537,NaN,1.573028,0.291037,0.794642,0.913218,0.584085,-1.280330,-1.961382,...,NaN,-0.102707,-0.580942,-0.108481,NaN,1.729348,-0.961647,-1.006693,-1.762722,NaN
11,-0.107321,-1.188138,NaN,1.199867,1.158132,0.633891,1.610914,-0.415193,-0.544928,-1.405065,...,1.227963,-1.188595,-0.514190,-0.337047,NaN,-0.157611,-1.797352,-1.153155,-1.097971,NaN
12,0.958023,0.398420,NaN,-0.256680,-0.942096,-0.750703,0.498030,-0.413689,-1.010211,-0.226197,...,NaN,0.400305,-0.312370,-0.803140,NaN,-0.782450,-1.398219,-1.154836,-1.063870,NaN

In [74]:
DISCHARGE_MONTHLY['Anomaly_Qlog'] = ANOMALY_TS['Anomaly_Qlog'][0:len(DISCHARGE_MONTHLY['Discharge'])].values

In [75]:
DISCHARGE_MONTHLY

             Discharge  Year  Month  water_year  Q_to_log  Anomaly_Qlog
Fecha
1980-01-31    1.198613  1980      1        1980  0.181165     -2.123750
1980-02-29   28.386414  1980      2        1980  3.345911      0.316909
1980-03-31   86.782323  1980      3        1980  4.463403      1.120851
1980-04-30  172.187367  1980      4        1981  5.148583      1.200881
1980-05-31  275.560258  1980      5        1981  5.618806      1.373637
...                ...   ...    ...         ...       ...           ...
2022-12-31    5.969037  2022     12        2023  1.786586     -1.063870
2023-01-31    5.419419  2023      1        2023  1.689989     -0.810341
2023-02-28    5.557464  2023      2        2023  1.715142     -0.951652
2023-03-31    3.336120  2023      3        2023  1.204808     -1.550890
2023-04-30    2.693037  2023      4        2024  0.990670     -1.664257

[520 rows x 6 columns]

### Save  MONTHLY_ANOMALY

In [76]:
MONTHLY_ANOMALY.to_csv('../data/santalucia_caudales_abr2023_MA.csv')

### Save  DISCHARGE_MONTHLY

In [77]:
DISCHARGE_MONTHLY.to_csv('../data/santalucia_caudales_abr2023_DA.csv')