# HydroSOS - Persistence forecast method

In this notebook, we explore the Persistance and Hydrological Analogue method

## Import the python libraries

In [1]:
%reset -f

In [2]:
# Importing the libraries
import os
import pandas as pd
import seaborn as sns
import numpy as np
import calendar
import datetime
import matplotlib.pyplot as plt
from scipy import stats
plt.style.use('classic')
%matplotlib inline

from IPython.display import HTML

sns.set()

In [3]:
# install a conda package in the current Jupyter kernel
#import sys
#!conda install --yes --prefix {sys.prefix} missingno

In [4]:
import missingno

### We create function for percentile definition

In [5]:
# Quantile Function Definitions
def q1(x):
    return x.quantile(0.28)

def q2(x):
    return x.median()

def q3(x):
    return x.quantile(0.72)

def q5(x):
    return x.quantile(0.05)

def q95(x):
    return x.quantile(0.95)

def q87(x):
    return x.quantile(0.87)

def q13(x):
    return x.quantile(0.13)

## Import Data

In [17]:
MONTHLY_ANOMALY = pd.read_csv('../data/santalucia_caudales_abr2023_MA.csv',parse_dates=['Month'],index_col="Month",na_values="")

In [18]:
DISCHARGE_MONTHLY = pd.read_csv('../data/santalucia_caudales_abr2023_DA.csv',parse_dates=['Fecha'],index_col="Fecha",na_values="")

In [19]:
YEAR_HINDCAST_SELECTED = np.unique(DISCHARGE_MONTHLY['Year'])
# rename columns change str for int
MONTHLY_ANOMALY.columns = YEAR_HINDCAST_SELECTED

In [20]:
range_analysis = range(YEAR_HINDCAST_SELECTED[0],YEAR_HINDCAST_SELECTED[-1])

In [21]:
LOG_DISCHARGE_MONTHLY_PIVOT = pd.pivot_table(DISCHARGE_MONTHLY, index=['Month'],columns=['Year'], values=['Q_to_log'],dropna=False)
LOG_DISCHARGE_MONTHLY_PIVOT.columns = YEAR_HINDCAST_SELECTED

In [22]:
ANOMALY_PERSISTENCE = MONTHLY_ANOMALY[range_analysis]
QLOG_PERSISTENCE = LOG_DISCHARGE_MONTHLY_PIVOT[range_analysis]
HTML(ANOMALY_PERSISTENCE.to_html())

In [23]:
ANOMALY_PERSISTENCE_TS = pd.melt(ANOMALY_PERSISTENCE.reset_index(), id_vars='Month',var_name=['Year'],ignore_index = True)
ANOMALY_PERSISTENCE_TS.columns = ['Month','Year','Anomaly_Qlog']
HTML(ANOMALY_PERSISTENCE_TS.head(6).to_html())

In [24]:
QLOG_PERSISTENCE_TS = pd.melt(QLOG_PERSISTENCE.reset_index(), id_vars='Month',var_name=['Year'],ignore_index = True)
QLOG_PERSISTENCE_TS.columns = ['Month','Year','Qlog']
HTML(QLOG_PERSISTENCE_TS.head(6).to_html())

In [25]:
ANOMALY_PERSISTENCE_TS['DATE'] = pd.to_datetime(ANOMALY_PERSISTENCE_TS[['Year', 'Month']].assign(DAY=1))
HTML(ANOMALY_PERSISTENCE_TS.head(6).to_html(index=False))

## Persistence forecast

We create a function called add_month that add the number of months based on an input date. This will be used in the Jack-Knife Validation

In [26]:
def add_months(sourcedate, months):
    month = sourcedate.month - 1 + months
    year = sourcedate.year + month // 12
    month = month % 12 + 1
    day = min(sourcedate.day, calendar.monthrange(year,month)[1])
    return datetime.date(year, month, day)

We import the monthly river flow anomalies from 1980 to 2023

### Jack-knife validation

In this section, we will apply Jack Knife verification for each year and for each month of that year. The Jack Knife verification is a method that drop one year and calculate the forecast using the remaining of the years.

Performance is based on “jack-knife” hindcasts for the period of observations available at each station. This involves dropping 1 year at a time from the record, and forecasting the flow anomalies in this missing year using the remaining years in the record. In this way, a hindcast will be made for each year which can be compared with the flow anomaly that was actually observed in that year. For each method, the correlation between its hindcast record and the observed record is calculated for each calendar month, and is used as a measure of its performance.

In [28]:
# Select the year of analysis
YEAR_ANALYSIS = range_analysis
MONTH_ANALYSIS = range(1,13,1)

# Create empty dataframe
ANOMALY_HINDCAST_PERSISTENCE = pd.DataFrame()
HINDCAST_MONTHS_PERSISTENCE = pd.DataFrame()
HINDCAST_STATS_QLOG_PERSISTENCE = pd.DataFrame()
HINDCAST_STATS_ANOMALY_PERSISTENCE = pd.DataFrame()
RESCALE_FORECAST_PERSISTENCE =  ANOMALY_PERSISTENCE_TS
SCALE_FORECAST_PERSISTENCE = ANOMALY_PERSISTENCE_TS

# Make the resample 
for y in YEAR_ANALYSIS:
    # extract the monthly anomalies for the corresponding year of analysis
    ANOMALY_YEAR = ANOMALY_PERSISTENCE[y].to_frame()

    # From the Qlog values, drop the monthly values for the year of analysis and mantain the remaining years. 
    # This is the Qlog hindcast series
    QLOG_HINDCAST_PERSISTENCE= QLOG_PERSISTENCE.drop([y],axis=1)
    QLOG_HINDCAST_PERSISTENCE_TS = QLOG_PERSISTENCE_TS[QLOG_PERSISTENCE_TS['Year'] != y]
    # From the monthly anomaly values, drop the monthly values for the year of analysis and mantain the remaining years. 
    # This is the anomaly hindcast series
    ANOMALY_HINDCAST_PERSISTENCE = ANOMALY_PERSISTENCE.drop([y],axis=1)
    # Calculate statistic for the hindcast Qlog serie
    HINDCAST_STATS_QLOG_PERSISTENCE['mean'] = np.mean(QLOG_HINDCAST_PERSISTENCE,axis=1)
    HINDCAST_STATS_QLOG_PERSISTENCE['std'] = np.std(QLOG_HINDCAST_PERSISTENCE,axis=1)
    # Calculate statistic for the hindcast Anomaly serie
    HINDCAST_STATS_ANOMALY_PERSISTENCE['mean'] = np.mean(ANOMALY_HINDCAST_PERSISTENCE,axis=1)
    HINDCAST_STATS_ANOMALY_PERSISTENCE['std'] = np.std(ANOMALY_HINDCAST_PERSISTENCE,axis=1)

    # for each year of analysis, we are going to iterate by each month (1 to 12)
    for m in MONTH_ANALYSIS:
        print('Dropping year:',y,"-","End-Month:",m)
        # extract from the hindcast series, all the corresponding monthly values based on the month of analysis. After this, it transpose the table  
        HINDCAST_MONTHS_PERSISTENCE = ANOMALY_HINDCAST_PERSISTENCE.loc[[m]].T
        # Obtain the Anomaly value for the end month (analysis)
        ANOMALY_ANALYSIS_PERSISTENCE = ANOMALY_YEAR.query('index==@m')[y].item()
        # Create a datetime that consider the current year and month
        END_MONTH = datetime.date.today().replace(year=y, month=m, day=1)
        # Using the add_month function, we add n lead month for the forecast
        ONE_MONTH = add_months(END_MONTH,1)
        TWO_MONTH = add_months(END_MONTH,2)
        THREE_MONTH = add_months(END_MONTH,3)
        SIX_MONTH = add_months(END_MONTH,6)
        # Do the forecast using persistence method. 
        SCALE_FORECAST_PERSISTENCE.loc[SCALE_FORECAST_PERSISTENCE.eval('Month==@ONE_MONTH.month & Year==@ONE_MONTH.year'),'1_monthFcst'] = float(ANOMALY_ANALYSIS_PERSISTENCE)
        SCALE_FORECAST_PERSISTENCE.loc[SCALE_FORECAST_PERSISTENCE.eval('Month==@TWO_MONTH.month & Year==@TWO_MONTH.year'),'2_monthFcst'] = float(ANOMALY_ANALYSIS_PERSISTENCE)
        SCALE_FORECAST_PERSISTENCE.loc[SCALE_FORECAST_PERSISTENCE.eval('Month==@THREE_MONTH.month & Year==@THREE_MONTH.year'),'3_monthFcst'] = float(ANOMALY_ANALYSIS_PERSISTENCE)
        SCALE_FORECAST_PERSISTENCE.loc[SCALE_FORECAST_PERSISTENCE.eval('Month==@SIX_MONTH.month & Year==@SIX_MONTH.year'),'6_monthFcst'] = float(ANOMALY_ANALYSIS_PERSISTENCE)
        # re-standardised all the month of analysis from the hindcast series based on the mean and standard deviation.
        ANOMALY_RESCALE_HINDCAST_PERSISTENCE = (HINDCAST_MONTHS_PERSISTENCE - np.mean(HINDCAST_MONTHS_PERSISTENCE,axis=0))/np.std(HINDCAST_MONTHS_PERSISTENCE,axis=0)
        # Re-standardised the qlog discharge anomaly of the current month 
        ANOMALY_RESCALE_ANALYSIS_PERSISTENCE = (ANOMALY_ANALYSIS_PERSISTENCE - np.mean(HINDCAST_MONTHS_PERSISTENCE,axis=0))/np.std(HINDCAST_MONTHS_PERSISTENCE,axis=0)
        # Store the rescale forecast, mean and std (1-month)
        RESCALE_FORECAST_PERSISTENCE.loc[RESCALE_FORECAST_PERSISTENCE.eval('Month==@ONE_MONTH.month & Year==@ONE_MONTH.year'),'1_monthFcst'] = float(ANOMALY_RESCALE_ANALYSIS_PERSISTENCE)
        QLOG_MONTH_PERSISTENCE = QLOG_HINDCAST_PERSISTENCE_TS.query("Month == @ONE_MONTH.month")

        #RESCALE_FORECAST_PERSISTENCE.loc[RESCALE_FORECAST_PERSISTENCE.eval('Month==@ONE_MONTH.month & Year==@ONE_MONTH.year'),'Log_Q_PRED_1M'] = float((ANOMALY_RESCALE_ANALYSIS_PERSISTENCE*DISCHARGE_MONTHLY_STATS['std'][ONE_MONTH.month])+DISCHARGE_MONTHLY_STATS['mean'][ONE_MONTH.month])
        #RESCALE_FORECAST_PERSISTENCE.loc[RESCALE_FORECAST_PERSISTENCE.eval('Month==@ONE_MONTH.month & Year==@ONE_MONTH.year'),'Q_PRED_1M'] = float(np.exp((ANOMALY_RESCALE_ANALYSIS_PERSISTENCE*DISCHARGE_MONTHLY_STATS['std'][ONE_MONTH.month])+DISCHARGE_MONTHLY_STATS['mean'][ONE_MONTH.month]))

        RESCALE_FORECAST_PERSISTENCE.loc[RESCALE_FORECAST_PERSISTENCE.eval('Month==@ONE_MONTH.month & Year==@ONE_MONTH.year'),'mean_A_H'] = float(np.mean(HINDCAST_MONTHS_PERSISTENCE,axis=0))
        RESCALE_FORECAST_PERSISTENCE.loc[RESCALE_FORECAST_PERSISTENCE.eval('Month==@ONE_MONTH.month & Year==@ONE_MONTH.year'),'std_A_H'] = float(np.std(HINDCAST_MONTHS_PERSISTENCE,axis=0))
        RESCALE_FORECAST_PERSISTENCE.loc[RESCALE_FORECAST_PERSISTENCE.eval('Month==@ONE_MONTH.month & Year==@ONE_MONTH.year'),'mean'] = float(np.mean(QLOG_MONTH_PERSISTENCE['Qlog'],axis=0))
        RESCALE_FORECAST_PERSISTENCE.loc[RESCALE_FORECAST_PERSISTENCE.eval('Month==@ONE_MONTH.month & Year==@ONE_MONTH.year'),'std'] = float(np.std(QLOG_MONTH_PERSISTENCE['Qlog'],axis=0))
        RESCALE_FORECAST_PERSISTENCE.loc[RESCALE_FORECAST_PERSISTENCE.eval('Month==@ONE_MONTH.month & Year==@ONE_MONTH.year'),'low'] = float(np.nanpercentile(QLOG_MONTH_PERSISTENCE['Qlog'],28,axis=0))
        RESCALE_FORECAST_PERSISTENCE.loc[RESCALE_FORECAST_PERSISTENCE.eval('Month==@ONE_MONTH.month & Year==@ONE_MONTH.year'),'medium'] = float(np.nanpercentile(QLOG_MONTH_PERSISTENCE['Qlog'],50,axis=0))
        RESCALE_FORECAST_PERSISTENCE.loc[RESCALE_FORECAST_PERSISTENCE.eval('Month==@ONE_MONTH.month & Year==@ONE_MONTH.year'),'high'] = float(np.nanpercentile(QLOG_MONTH_PERSISTENCE['Qlog'],72,axis=0))
        
        # Store the rescale forecast, mean and std (2-month)
        RESCALE_FORECAST_PERSISTENCE.loc[RESCALE_FORECAST_PERSISTENCE.eval('Month==@TWO_MONTH.month & Year==@TWO_MONTH.year'),'2_monthFcst'] = float(ANOMALY_RESCALE_ANALYSIS_PERSISTENCE)
        QLOG_MONTH_02_PERSISTENCE = QLOG_HINDCAST_PERSISTENCE_TS.query("Month == @TWO_MONTH.month")
        
        #RESCALE_FORECAST_PERSISTENCE.loc[RESCALE_FORECAST_PERSISTENCE.eval('Month==@TWO_MONTH.month & Year==@TWO_MONTH.year'),'Log_Q_PRED_2M'] = float((ANOMALY_RESCALE_ANALYSIS_PERSISTENCE*DISCHARGE_MONTHLY_STATS['std'][ONE_MONTH.month])+DISCHARGE_MONTHLY_STATS['mean'][TWO_MONTH.month])
        #RESCALE_FORECAST_PERSISTENCE.loc[RESCALE_FORECAST_PERSISTENCE.eval('Month==@TWO_MONTH.month & Year==@TWO_MONTH.year'),'Q_PRED_2M'] = float(np.exp((ANOMALY_RESCALE_ANALYSIS_PERSISTENCE*DISCHARGE_MONTHLY_STATS['std'][ONE_MONTH.month])+DISCHARGE_MONTHLY_STATS['mean'][TWO_MONTH.month]))
        
        RESCALE_FORECAST_PERSISTENCE.loc[RESCALE_FORECAST_PERSISTENCE.eval('Month==@TWO_MONTH.month & Year==@TWO_MONTH.year'),'mean'] = float(np.mean(QLOG_MONTH_02_PERSISTENCE['Qlog'],axis=0))
        RESCALE_FORECAST_PERSISTENCE.loc[RESCALE_FORECAST_PERSISTENCE.eval('Month==@TWO_MONTH.month & Year==@TWO_MONTH.year'),'std'] = float(np.std(QLOG_MONTH_02_PERSISTENCE['Qlog'],axis=0))
        RESCALE_FORECAST_PERSISTENCE.loc[RESCALE_FORECAST_PERSISTENCE.eval('Month==@TWO_MONTH.month & Year==@TWO_MONTH.year'),'low'] = float(np.nanpercentile(QLOG_MONTH_02_PERSISTENCE['Qlog'],28,axis=0))
        RESCALE_FORECAST_PERSISTENCE.loc[RESCALE_FORECAST_PERSISTENCE.eval('Month==@TWO_MONTH.month & Year==@TWO_MONTH.year'),'medium'] = float(np.nanpercentile(QLOG_MONTH_02_PERSISTENCE['Qlog'],50,axis=0))
        RESCALE_FORECAST_PERSISTENCE.loc[RESCALE_FORECAST_PERSISTENCE.eval('Month==@TWO_MONTH.month & Year==@TWO_MONTH.year'),'high'] = float(np.nanpercentile(QLOG_MONTH_02_PERSISTENCE['Qlog'],72,axis=0))
        
        # Store the rescale forecast, mean and std (3-month)
        RESCALE_FORECAST_PERSISTENCE.loc[RESCALE_FORECAST_PERSISTENCE.eval('Month==@THREE_MONTH.month & Year==@THREE_MONTH.year'),'3_monthFcst'] = float(ANOMALY_RESCALE_ANALYSIS_PERSISTENCE)
        QLOG_MONTH_03_PERSISTENCE = QLOG_HINDCAST_PERSISTENCE_TS.query("Month == @THREE_MONTH.month")
        
        #RESCALE_FORECAST_PERSISTENCE.loc[RESCALE_FORECAST_PERSISTENCE.eval('Month==@THREE_MONTH.month & Year==@THREE_MONTH.year'),'Log_Q_PRED_3M'] = float((ANOMALY_RESCALE_ANALYSIS_PERSISTENCE*DISCHARGE_MONTHLY_STATS['std'][THREE_MONTH.month])+DISCHARGE_MONTHLY_STATS['mean'][THREE_MONTH.month])
        #RESCALE_FORECAST_PERSISTENCE.loc[RESCALE_FORECAST_PERSISTENCE.eval('Month==@THREE_MONTH.month & Year==@THREE_MONTH.year'),'Q_PRED_3M'] = float(np.exp((ANOMALY_RESCALE_ANALYSIS_PERSISTENCE*DISCHARGE_MONTHLY_STATS['std'][THREE_MONTH.month])+DISCHARGE_MONTHLY_STATS['mean'][THREE_MONTH.month]))
        
        RESCALE_FORECAST_PERSISTENCE.loc[RESCALE_FORECAST_PERSISTENCE.eval('Month==@THREE_MONTH.month & Year==@THREE_MONTH.year'),'mean'] = float(np.mean(QLOG_MONTH_PERSISTENCE['Qlog'],axis=0))
        RESCALE_FORECAST_PERSISTENCE.loc[RESCALE_FORECAST_PERSISTENCE.eval('Month==@THREE_MONTH.month & Year==@THREE_MONTH.year'),'std'] = float(np.std(QLOG_MONTH_PERSISTENCE['Qlog'],axis=0))
        RESCALE_FORECAST_PERSISTENCE.loc[RESCALE_FORECAST_PERSISTENCE.eval('Month==@THREE_MONTH.month & Year==@THREE_MONTH.year'),'low'] = float(np.nanpercentile(QLOG_MONTH_PERSISTENCE['Qlog'],28,axis=0))
        RESCALE_FORECAST_PERSISTENCE.loc[RESCALE_FORECAST_PERSISTENCE.eval('Month==@THREE_MONTH.month & Year==@THREE_MONTH.year'),'medium'] = float(np.nanpercentile(QLOG_MONTH_PERSISTENCE['Qlog'],50,axis=0))
        RESCALE_FORECAST_PERSISTENCE.loc[RESCALE_FORECAST_PERSISTENCE.eval('Month==@THREE_MONTH.month & Year==@THREE_MONTH.year'),'high'] = float(np.nanpercentile(QLOG_MONTH_PERSISTENCE['Qlog'],72,axis=0))
        # Store the rescale forecast, mean and std (6-month)
        RESCALE_FORECAST_PERSISTENCE.loc[RESCALE_FORECAST_PERSISTENCE.eval('Month==@SIX_MONTH.month & Year==@SIX_MONTH.year'),'6_monthFcst'] = float(ANOMALY_RESCALE_ANALYSIS_PERSISTENCE)
        QLOG_MONTH_06_PERSISTENCE = QLOG_HINDCAST_PERSISTENCE_TS.query("Month == @SIX_MONTH.month")
        
        #RESCALE_FORECAST_PERSISTENCE.loc[RESCALE_FORECAST_PERSISTENCE.eval('Month==@SIX_MONTH.month & Year==@SIX_MONTH.year'),'Log_Q_PRED_6M'] = float((ANOMALY_RESCALE_ANALYSIS_PERSISTENCE*DISCHARGE_MONTHLY_STATS['std'][SIX_MONTH.month])+DISCHARGE_MONTHLY_STATS['mean'][SIX_MONTH.month])
        #RESCALE_FORECAST_PERSISTENCE.loc[RESCALE_FORECAST_PERSISTENCE.eval('Month==@SIX_MONTH.month & Year==@SIX_MONTH.year'),'Q_PRED_6M'] = float(np.exp((ANOMALY_RESCALE_ANALYSIS_PERSISTENCE*DISCHARGE_MONTHLY_STATS['std'][SIX_MONTH.month])+DISCHARGE_MONTHLY_STATS['mean'][SIX_MONTH.month]))
        
        RESCALE_FORECAST_PERSISTENCE.loc[RESCALE_FORECAST_PERSISTENCE.eval('Month==@SIX_MONTH.month & Year==@SIX_MONTH.year'),'mean'] = float(np.mean(QLOG_MONTH_06_PERSISTENCE['Qlog'],axis=0))
        RESCALE_FORECAST_PERSISTENCE.loc[RESCALE_FORECAST_PERSISTENCE.eval('Month==@SIX_MONTH.month & Year==@SIX_MONTH.year'),'std'] = float(np.std(QLOG_MONTH_06_PERSISTENCE['Qlog'],axis=0))
        RESCALE_FORECAST_PERSISTENCE.loc[RESCALE_FORECAST_PERSISTENCE.eval('Month==@SIX_MONTH.month & Year==@SIX_MONTH.year'),'low'] = float(np.nanpercentile(QLOG_MONTH_06_PERSISTENCE['Qlog'],28,axis=0))
        RESCALE_FORECAST_PERSISTENCE.loc[RESCALE_FORECAST_PERSISTENCE.eval('Month==@SIX_MONTH.month & Year==@SIX_MONTH.year'),'medium'] = float(np.nanpercentile(QLOG_MONTH_06_PERSISTENCE['Qlog'],50,axis=0))
        RESCALE_FORECAST_PERSISTENCE.loc[RESCALE_FORECAST_PERSISTENCE.eval('Month==@SIX_MONTH.month & Year==@SIX_MONTH.year'),'high'] = float(np.nanpercentile(QLOG_MONTH_06_PERSISTENCE['Qlog'],72,axis=0))

Dropping year: 1980 - End-Month: 1
Dropping year: 1980 - End-Month: 2
Dropping year: 1980 - End-Month: 3
Dropping year: 1980 - End-Month: 4
Dropping year: 1980 - End-Month: 5
Dropping year: 1980 - End-Month: 6
Dropping year: 1980 - End-Month: 7
Dropping year: 1980 - End-Month: 8
Dropping year: 1980 - End-Month: 9
Dropping year: 1980 - End-Month: 10
Dropping year: 1980 - End-Month: 11
Dropping year: 1980 - End-Month: 12
Dropping year: 1981 - End-Month: 1
Dropping year: 1981 - End-Month: 2
Dropping year: 1981 - End-Month: 3
Dropping year: 1981 - End-Month: 4
Dropping year: 1981 - End-Month: 5
Dropping year: 1981 - End-Month: 6
Dropping year: 1981 - End-Month: 7
Dropping year: 1981 - End-Month: 8
Dropping year: 1981 - End-Month: 9
Dropping year: 1981 - End-Month: 10
Dropping year: 1981 - End-Month: 11
Dropping year: 1981 - End-Month: 12
Dropping year: 1982 - End-Month: 1
Dropping year: 1982 - End-Month: 2
Dropping year: 1982 - End-Month: 3
Dropping year: 1982 - End-Month: 4
Dropping year: 1982 - End-Month: 5
Dropping year: 1982 - End-Month: 6
Dropping year: 1982 - End-Month: 7
Dropping year: 1982 - End-Month: 8
Dropping year: 1982 - End-Month: 9
Dropping year: 1982 - End-Month: 10
Dropping year: 1982 - End-Month: 11
Dropping year: 1982 - End-Month: 12
Dropping year: 1983 - End-Month: 1
Dropping year: 1983 - End-Month: 2
Dropping year: 1983 - End-Month: 3
Dropping year: 1983 - End-Month: 4
Dropping year: 1983 - End-Month: 5
Dropping year: 1983 - End-Month: 6
Dropping year: 1983 - End-Month: 7
Dropping year: 1983 - End-Month: 8
Dropping year: 1983 - End-Month: 9
Dropping year: 1983 - End-Month: 10
Dropping year: 1983 - End-Month: 11
Dropping year: 1983 - End-Month: 12
Dropping year: 1984 - End-Month: 1
Dropping year: 1984 - End-Month: 2
Dropping year: 1984 - End-Month: 3
Dropping year: 1984 - End-Month: 4
Dropping year: 1984 - End-Month: 5
Dropping year: 1984 - End-Month: 6
Dropping year: 1984 - End-Month: 7
Dropping year: 1984 - End-Month: 8
Dropping year: 1984 - End-Month: 9
Dropping year: 1984 - End-Month: 10
Dropping year: 1984 - End-Month: 11
Dropping year: 1984 - End-Month: 12
Dropping year: 1985 - End-Month: 1
Dropping year: 1985 - End-Month: 2
Dropping year: 1985 - End-Month: 3
Dropping year: 1985 - End-Month: 4
Dropping year: 1985 - End-Month: 5
Dropping year: 1985 - End-Month: 6
Dropping year: 1985 - End-Month: 7
Dropping year: 1985 - End-Month: 8
Dropping year: 1985 - End-Month: 9
Dropping year: 1985 - End-Month: 10
Dropping year: 1985 - End-Month: 11
Dropping year: 1985 - End-Month: 12
Dropping year: 1986 - End-Month: 1
Dropping year: 1986 - End-Month: 2
Dropping year: 1986 - End-Month: 3
Dropping year: 1986 - End-Month: 4
Dropping year: 1986 - End-Month: 5
Dropping year: 1986 - End-Month: 6
Dropping year: 1986 - End-Month: 7
Dropping year: 1986 - End-Month: 8
Dropping year: 1986 - End-Month: 9
Dropping year: 1986 - End-Month: 10
Dropping year: 1986 - End-Month: 11
Dropping year: 1986 - End-Month: 12
Dropping year: 1987 - End-Month: 1
Dropping year: 1987 - End-Month: 2
Dropping year: 1987 - End-Month: 3
Dropping year: 1987 - End-Month: 4
Dropping year: 1987 - End-Month: 5
Dropping year: 1987 - End-Month: 6
Dropping year: 1987 - End-Month: 7
Dropping year: 1987 - End-Month: 8
Dropping year: 1987 - End-Month: 9
Dropping year: 1987 - End-Month: 10
Dropping year: 1987 - End-Month: 11
Dropping year: 1987 - End-Month: 12
Dropping year: 1988 - End-Month: 1
Dropping year: 1988 - End-Month: 2
Dropping year: 1988 - End-Month: 3
Dropping year: 1988 - End-Month: 4
Dropping year: 1988 - End-Month: 5
Dropping year: 1988 - End-Month: 6
Dropping year: 1988 - End-Month: 7
Dropping year: 1988 - End-Month: 8
Dropping year: 1988 - End-Month: 9
Dropping year: 1988 - End-Month: 10
Dropping year: 1988 - End-Month: 11
Dropping year: 1988 - End-Month: 12
Dropping year: 1989 - End-Month: 1
Dropping year: 1989 - End-Month: 2
Dropping year: 1989 - End-Month: 3
Dropping year: 1989 - End-Month: 4
Dropping year: 1989 - End-Month: 5
Dropping year: 1989 - End-Month: 6
Dropping year: 1989 - End-Month: 7
Dropping year: 1989 - End-Month: 8
Dropping year: 1989 - End-Month: 9
Dropping year: 1989 - End-Month: 10
Dropping year: 1989 - End-Month: 11
Dropping year: 1989 - End-Month: 12
Dropping year: 1990 - End-Month: 1
Dropping year: 1990 - End-Month: 2
Dropping year: 1990 - End-Month: 3
Dropping year: 1990 - End-Month: 4
Dropping year: 1990 - End-Month: 5
Dropping year: 1990 - End-Month: 6
Dropping year: 1990 - End-Month: 7
Dropping year: 1990 - End-Month: 8
Dropping year: 1990 - End-Month: 9
Dropping year: 1990 - End-Month: 10
Dropping year: 1990 - End-Month: 11
Dropping year: 1990 - End-Month: 12
Dropping year: 1991 - End-Month: 1
Dropping year: 1991 - End-Month: 2
Dropping year: 1991 - End-Month: 3
Dropping year: 1991 - End-Month: 4
Dropping year: 1991 - End-Month: 5
Dropping year: 1991 - End-Month: 6
Dropping year: 1991 - End-Month: 7
Dropping year: 1991 - End-Month: 8
Dropping year: 1991 - End-Month: 9
Dropping year: 1991 - End-Month: 10
Dropping year: 1991 - End-Month: 11
Dropping year: 1991 - End-Month: 12
Dropping year: 1992 - End-Month: 1
Dropping year: 1992 - End-Month: 2
Dropping year: 1992 - End-Month: 3
Dropping year: 1992 - End-Month: 4
Dropping year: 1992 - End-Month: 5
Dropping year: 1992 - End-Month: 6
Dropping year: 1992 - End-Month: 7
Dropping year: 1992 - End-Month: 8
Dropping year: 1992 - End-Month: 9
Dropping year: 1992 - End-Month: 10
Dropping year: 1992 - End-Month: 11
Dropping year: 1992 - End-Month: 12
Dropping year: 1993 - End-Month: 1
Dropping year: 1993 - End-Month: 2
Dropping year: 1993 - End-Month: 3
Dropping year: 1993 - End-Month: 4
Dropping year: 1993 - End-Month: 5
Dropping year: 1993 - End-Month: 6
Dropping year: 1993 - End-Month: 7
Dropping year: 1993 - End-Month: 8
Dropping year: 1993 - End-Month: 9
Dropping year: 1993 - End-Month: 10
Dropping year: 1993 - End-Month: 11
Dropping year: 1993 - End-Month: 12
Dropping year: 1994 - End-Month: 1
Dropping year: 1994 - End-Month: 2
Dropping year: 1994 - End-Month: 3
Dropping year: 1994 - End-Month: 4
Dropping year: 1994 - End-Month: 5
Dropping year: 1994 - End-Month: 6
Dropping year: 1994 - End-Month: 7
Dropping year: 1994 - End-Month: 8
Dropping year: 1994 - End-Month: 9
Dropping year: 1994 - End-Month: 10
Dropping year: 1994 - End-Month: 11
Dropping year: 1994 - End-Month: 12
Dropping year: 1995 - End-Month: 1
Dropping year: 1995 - End-Month: 2
Dropping year: 1995 - End-Month: 3
Dropping year: 1995 - End-Month: 4
Dropping year: 1995 - End-Month: 5
Dropping year: 1995 - End-Month: 6
Dropping year: 1995 - End-Month: 7
Dropping year: 1995 - End-Month: 8
Dropping year: 1995 - End-Month: 9
Dropping year: 1995 - End-Month: 10
Dropping year: 1995 - End-Month: 11
Dropping year: 1995 - End-Month: 12
Dropping year: 1996 - End-Month: 1
Dropping year: 1996 - End-Month: 2
Dropping year: 1996 - End-Month: 3
Dropping year: 1996 - End-Month: 4
Dropping year: 1996 - End-Month: 5
Dropping year: 1996 - End-Month: 6
Dropping year: 1996 - End-Month: 7
Dropping year: 1996 - End-Month: 8
Dropping year: 1996 - End-Month: 9
Dropping year: 1996 - End-Month: 10
Dropping year: 1996 - End-Month: 11
Dropping year: 1996 - End-Month: 12
Dropping year: 1997 - End-Month: 1
Dropping year: 1997 - End-Month: 2
Dropping year: 1997 - End-Month: 3
Dropping year: 1997 - End-Month: 4
Dropping year: 1997 - End-Month: 5
Dropping year: 1997 - End-Month: 6
Dropping year: 1997 - End-Month: 7
Dropping year: 1997 - End-Month: 8
Dropping year: 1997 - End-Month: 9
Dropping year: 1997 - End-Month: 10
Dropping year: 1997 - End-Month: 11
Dropping year: 1997 - End-Month: 12
Dropping year: 1998 - End-Month: 1
Dropping year: 1998 - End-Month: 2
Dropping year: 1998 - End-Month: 3
Dropping year: 1998 - End-Month: 4
Dropping year: 1998 - End-Month: 5
Dropping year: 1998 - End-Month: 6
Dropping year: 1998 - End-Month: 7
Dropping year: 1998 - End-Month: 8
Dropping year: 1998 - End-Month: 9
Dropping year: 1998 - End-Month: 10
Dropping year: 1998 - End-Month: 11
Dropping year: 1998 - End-Month: 12
Dropping year: 1999 - End-Month: 1
Dropping year: 1999 - End-Month: 2
Dropping year: 1999 - End-Month: 3
Dropping year: 1999 - End-Month: 4
Dropping year: 1999 - End-Month: 5
Dropping year: 1999 - End-Month: 6

Dropping year: 1999 - End-Month: 7
Dropping year: 1999 - End-Month: 8
Dropping year: 1999 - End-Month: 9
Dropping year: 1999 - End-Month: 10
Dropping year: 1999 - End-Month: 11
Dropping year: 1999 - End-Month: 12
Dropping year: 2000 - End-Month: 1
Dropping year: 2000 - End-Month: 2
Dropping year: 2000 - End-Month: 3
Dropping year: 2000 - End-Month: 4
Dropping year: 2000 - End-Month: 5
Dropping year: 2000 - End-Month: 6
Dropping year: 2000 - End-Month: 7
Dropping year: 2000 - End-Month: 8
Dropping year: 2000 - End-Month: 9
Dropping year: 2000 - End-Month: 10
Dropping year: 2000 - End-Month: 11
Dropping year: 2000 - End-Month: 12
Dropping year: 2001 - End-Month: 1
Dropping year: 2001 - End-Month: 2
Dropping year: 2001 - End-Month: 3
Dropping year: 2001 - End-Month: 4
Dropping year: 2001 - End-Month: 5
Dropping year: 2001 - End-Month: 6
Dropping year: 2001 - End-Month: 7
Dropping year: 2001 - End-Month: 8
Dropping year: 2001 - End-Month: 9
Dropping year: 2001 - End-Month: 10
Dropping year: 2001 - End-Month: 11
Dropping year: 2001 - End-Month: 12
Dropping year: 2002 - End-Month: 1
Dropping year: 2002 - End-Month: 2
Dropping year: 2002 - End-Month: 3
Dropping year: 2002 - End-Month: 4
Dropping year: 2002 - End-Month: 5
Dropping year: 2002 - End-Month: 6
Dropping year: 2002 - End-Month: 7
Dropping year: 2002 - End-Month: 8
Dropping year: 2002 - End-Month: 9
Dropping year: 2002 - End-Month: 10
Dropping year: 2002 - End-Month: 11
Dropping year: 2002 - End-Month: 12
Dropping year: 2003 - End-Month: 1
Dropping year: 2003 - End-Month: 2
Dropping year: 2003 - End-Month: 3
Dropping year: 2003 - End-Month: 4
Dropping year: 2003 - End-Month: 5
Dropping year: 2003 - End-Month: 6
Dropping year: 2003 - End-Month: 7
Dropping year: 2003 - End-Month: 8
Dropping year: 2003 - End-Month: 9
Dropping year: 2003 - End-Month: 10
Dropping year: 2003 - End-Month: 11
Dropping year: 2003 - End-Month: 12
Dropping year: 2004 - End-Month: 1
Dropping year: 2004 - End-Month: 2
Dropping year: 2004 - End-Month: 3
Dropping year: 2004 - End-Month: 4
Dropping year: 2004 - End-Month: 5
Dropping year: 2004 - End-Month: 6
Dropping year: 2004 - End-Month: 7
Dropping year: 2004 - End-Month: 8
Dropping year: 2004 - End-Month: 9
Dropping year: 2004 - End-Month: 10
Dropping year: 2004 - End-Month: 11
Dropping year: 2004 - End-Month: 12
Dropping year: 2005 - End-Month: 1
Dropping year: 2005 - End-Month: 2
Dropping year: 2005 - End-Month: 3
Dropping year: 2005 - End-Month: 4
Dropping year: 2005 - End-Month: 5
Dropping year: 2005 - End-Month: 6
Dropping year: 2005 - End-Month: 7
Dropping year: 2005 - End-Month: 8
Dropping year: 2005 - End-Month: 9
Dropping year: 2005 - End-Month: 10
Dropping year: 2005 - End-Month: 11
Dropping year: 2005 - End-Month: 12
Dropping year: 2006 - End-Month: 1
Dropping year: 2006 - End-Month: 2
Dropping year: 2006 - End-Month: 3
Dropping year: 2006 - End-Month: 4
Dropping year: 2006 - End-Month: 5
Dropping year: 2006 - End-Month: 6
Dropping year: 2006 - End-Month: 7
Dropping year: 2006 - End-Month: 8
Dropping year: 2006 - End-Month: 9
Dropping year: 2006 - End-Month: 10
Dropping year: 2006 - End-Month: 11
Dropping year: 2006 - End-Month: 12
Dropping year: 2007 - End-Month: 1
Dropping year: 2007 - End-Month: 2
Dropping year: 2007 - End-Month: 3
Dropping year: 2007 - End-Month: 4
Dropping year: 2007 - End-Month: 5
Dropping year: 2007 - End-Month: 6
Dropping year: 2007 - End-Month: 7
Dropping year: 2007 - End-Month: 8
Dropping year: 2007 - End-Month: 9
Dropping year: 2007 - End-Month: 10
Dropping year: 2007 - End-Month: 11
Dropping year: 2007 - End-Month: 12
Dropping year: 2008 - End-Month: 1
Dropping year: 2008 - End-Month: 2
Dropping year: 2008 - End-Month: 3
Dropping year: 2008 - End-Month: 4
Dropping year: 2008 - End-Month: 5
Dropping year: 2008 - End-Month: 6
Dropping year: 2008 - End-Month: 7
Dropping year: 2008 - End-Month: 8
Dropping year: 2008 - End-Month: 9
Dropping year: 2008 - End-Month: 10
Dropping year: 2008 - End-Month: 11
Dropping year: 2008 - End-Month: 12
Dropping year: 2009 - End-Month: 1
Dropping year: 2009 - End-Month: 2
Dropping year: 2009 - End-Month: 3
Dropping year: 2009 - End-Month: 4
Dropping year: 2009 - End-Month: 5
Dropping year: 2009 - End-Month: 6
Dropping year: 2009 - End-Month: 7
Dropping year: 2009 - End-Month: 8
Dropping year: 2009 - End-Month: 9
Dropping year: 2009 - End-Month: 10
Dropping year: 2009 - End-Month: 11
Dropping year: 2009 - End-Month: 12
Dropping year: 2010 - End-Month: 1
Dropping year: 2010 - End-Month: 2
Dropping year: 2010 - End-Month: 3
Dropping year: 2010 - End-Month: 4
Dropping year: 2010 - End-Month: 5
Dropping year: 2010 - End-Month: 6
Dropping year: 2010 - End-Month: 7
Dropping year: 2010 - End-Month: 8
Dropping year: 2010 - End-Month: 9
Dropping year: 2010 - End-Month: 10
Dropping year: 2010 - End-Month: 11
Dropping year: 2010 - End-Month: 12
Dropping year: 2011 - End-Month: 1
Dropping year: 2011 - End-Month: 2
Dropping year: 2011 - End-Month: 3
Dropping year: 2011 - End-Month: 4
Dropping year: 2011 - End-Month: 5
Dropping year: 2011 - End-Month: 6
Dropping year: 2011 - End-Month: 7
Dropping year: 2011 - End-Month: 8
Dropping year: 2011 - End-Month: 9
Dropping year: 2011 - End-Month: 10
Dropping year: 2011 - End-Month: 11
Dropping year: 2011 - End-Month: 12
Dropping year: 2012 - End-Month: 1
Dropping year: 2012 - End-Month: 2
Dropping year: 2012 - End-Month: 3
Dropping year: 2012 - End-Month: 4
Dropping year: 2012 - End-Month: 5
Dropping year: 2012 - End-Month: 6
Dropping year: 2012 - End-Month: 7
Dropping year: 2012 - End-Month: 8
Dropping year: 2012 - End-Month: 9
Dropping year: 2012 - End-Month: 10
Dropping year: 2012 - End-Month: 11
Dropping year: 2012 - End-Month: 12
Dropping year: 2013 - End-Month: 1
Dropping year: 2013 - End-Month: 2
Dropping year: 2013 - End-Month: 3
Dropping year: 2013 - End-Month: 4
Dropping year: 2013 - End-Month: 5
Dropping year: 2013 - End-Month: 6
Dropping year: 2013 - End-Month: 7
Dropping year: 2013 - End-Month: 8
Dropping year: 2013 - End-Month: 9
Dropping year: 2013 - End-Month: 10
Dropping year: 2013 - End-Month: 11
Dropping year: 2013 - End-Month: 12
Dropping year: 2014 - End-Month: 1
Dropping year: 2014 - End-Month: 2
Dropping year: 2014 - End-Month: 3
Dropping year: 2014 - End-Month: 4
Dropping year: 2014 - End-Month: 5
Dropping year: 2014 - End-Month: 6
Dropping year: 2014 - End-Month: 7
Dropping year: 2014 - End-Month: 8
Dropping year: 2014 - End-Month: 9
Dropping year: 2014 - End-Month: 10
Dropping year: 2014 - End-Month: 11
Dropping year: 2014 - End-Month: 12
Dropping year: 2015 - End-Month: 1
Dropping year: 2015 - End-Month: 2
Dropping year: 2015 - End-Month: 3
Dropping year: 2015 - End-Month: 4
Dropping year: 2015 - End-Month: 5
Dropping year: 2015 - End-Month: 6
Dropping year: 2015 - End-Month: 7
Dropping year: 2015 - End-Month: 8
Dropping year: 2015 - End-Month: 9
Dropping year: 2015 - End-Month: 10
Dropping year: 2015 - End-Month: 11
Dropping year: 2015 - End-Month: 12
Dropping year: 2016 - End-Month: 1
Dropping year: 2016 - End-Month: 2
Dropping year: 2016 - End-Month: 3
Dropping year: 2016 - End-Month: 4
Dropping year: 2016 - End-Month: 5
Dropping year: 2016 - End-Month: 6
Dropping year: 2016 - End-Month: 7
Dropping year: 2016 - End-Month: 8
Dropping year: 2016 - End-Month: 9
Dropping year: 2016 - End-Month: 10
Dropping year: 2016 - End-Month: 11
Dropping year: 2016 - End-Month: 12
Dropping year: 2017 - End-Month: 1
Dropping year: 2017 - End-Month: 2
Dropping year: 2017 - End-Month: 3
Dropping year: 2017 - End-Month: 4
Dropping year: 2017 - End-Month: 5
Dropping year: 2017 - End-Month: 6
Dropping year: 2017 - End-Month: 7
Dropping year: 2017 - End-Month: 8
Dropping year: 2017 - End-Month: 9
Dropping year: 2017 - End-Month: 10
Dropping year: 2017 - End-Month: 11
Dropping year: 2017 - End-Month: 12
Dropping year: 2018 - End-Month: 1
Dropping year: 2018 - End-Month: 2
Dropping year: 2018 - End-Month: 3
Dropping year: 2018 - End-Month: 4
Dropping year: 2018 - End-Month: 5
Dropping year: 2018 - End-Month: 6
Dropping year: 2018 - End-Month: 7
Dropping year: 2018 - End-Month: 8
Dropping year: 2018 - End-Month: 9
Dropping year: 2018 - End-Month: 10
Dropping year: 2018 - End-Month: 11

Dropping year: 2018 - End-Month: 12
Dropping year: 2019 - End-Month: 1
Dropping year: 2019 - End-Month: 2
Dropping year: 2019 - End-Month: 3
Dropping year: 2019 - End-Month: 4
Dropping year: 2019 - End-Month: 5
Dropping year: 2019 - End-Month: 6
Dropping year: 2019 - End-Month: 7
Dropping year: 2019 - End-Month: 8
Dropping year: 2019 - End-Month: 9
Dropping year: 2019 - End-Month: 10
Dropping year: 2019 - End-Month: 11
Dropping year: 2019 - End-Month: 12
Dropping year: 2020 - End-Month: 1
Dropping year: 2020 - End-Month: 2
Dropping year: 2020 - End-Month: 3
Dropping year: 2020 - End-Month: 4
Dropping year: 2020 - End-Month: 5
Dropping year: 2020 - End-Month: 6
Dropping year: 2020 - End-Month: 7
Dropping year: 2020 - End-Month: 8
Dropping year: 2020 - End-Month: 9
Dropping year: 2020 - End-Month: 10
Dropping year: 2020 - End-Month: 11
Dropping year: 2020 - End-Month: 12
Dropping year: 2021 - End-Month: 1
Dropping year: 2021 - End-Month: 2
Dropping year: 2021 - End-Month: 3
Dropping year: 2021 - End-Month: 4
Dropping year: 2021 - End-Month: 5
Dropping year: 2021 - End-Month: 6
Dropping year: 2021 - End-Month: 7
Dropping year: 2021 - End-Month: 8
Dropping year: 2021 - End-Month: 9
Dropping year: 2021 - End-Month: 10
Dropping year: 2021 - End-Month: 11
Dropping year: 2021 - End-Month: 12
Dropping year: 2022 - End-Month: 1
Dropping year: 2022 - End-Month: 2
Dropping year: 2022 - End-Month: 3
Dropping year: 2022 - End-Month: 4
Dropping year: 2022 - End-Month: 5
Dropping year: 2022 - End-Month: 6
Dropping year: 2022 - End-Month: 7
Dropping year: 2022 - End-Month: 8
Dropping year: 2022 - End-Month: 9
Dropping year: 2022 - End-Month: 10
Dropping year: 2022 - End-Month: 11
Dropping year: 2022 - End-Month: 12

In [29]:
RESCALE_FORECAST_PERSISTENCE.head(18)

,Month,Year,Anomaly_Qlog,DATE,1_monthFcst,2_monthFcst,3_monthFcst,6_monthFcst,mean_A_H,std_A_H,mean,std,low,medium,high
0,1,1980,-2.123750,1980-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,1980,0.316909,1980-02-01,-2.340416,NaN,NaN,NaN,0.077213,0.940415,2.960569,1.285232,2.103205,2.580642,3.238421
2,3,1980,1.120851,1980-03-01,0.299823,-2.340416,NaN,NaN,0.017155,0.999771,3.109804,1.177222,2.340484,2.653676,3.622124
3,4,1980,1.200881,1980-04-01,1.149825,0.299823,-2.340416,NaN,0.011027,0.965211,3.423551,1.388412,2.479889,3.023710,4.245612
4,5,1980,1.373637,1980-05-01,1.242450,1.149825,0.299823,NaN,0.012194,0.956728,3.781959,1.272669,2.789972,3.752282,4.707521
5,6,1980,0.796236,1980-06-01,1.443303,1.242450,1.149825,NaN,-0.034341,0.975525,4.406921,1.245339,3.696201,4.716933,5.169280
6,7,1980,0.669569,1980-07-01,0.822853,1.443303,1.242450,-2.340416,-0.019906,0.991844,4.629624,0.993045,4.247932,4.812913,5.188282
7,8,1980,0.585540,1980-08-01,0.690822,0.822853,1.443303,0.299823,-0.017168,0.994087,4.513156,1.003208,3.948572,4.521296,5.161298
8,9,1980,-0.481964,1980-09-01,0.604773,0.690822,0.822853,1.149825,-0.016265,0.995094,4.597724,0.966059,3.961631,4.872367,5.124635
9,10,1980,0.640823,1980-10-01,-0.497003,0.604773,0.690822,1.242450,0.013388,0.996679,4.096506,1.261400,3.281784,3.980854,5.105232
10,11,1980,-0.107321,1980-11-01,0.661926,-0.497003,0.604773,1.443303,-0.017320,0.994284,3.816598,1.229514,2.897224,3.834529,4.652311
11,12,1980,0.958023,1980-12-01,-0.110239,0.661926,-0.497003,0.822853,0.002901,0.999840,2.972531,1.128268,2.141504,2.705466,3.482992
12,1,1981,-0.308179,1981-01-01,0.997794,-0.110239,0.661926,0.690822,-0.026612,0.986812,2.709596,1.080334,2.082172,2.435167,3.289771
13,2,1981,0.511895,1981-02-01,-0.336660,0.997794,-0.110239,0.604773,0.029435,1.002831,2.953794,1.282519,2.103205,2.580642,3.238421
14,3,1981,-0.362955,1981-03-01,0.501182,-0.336660,0.997794,-0.497003,0.011885,0.997661,3.156207,1.193878,2.340484,2.756441,3.714395
15,4,1981,-0.162872,1981-04-01,-0.420924,0.501182,-0.336660,0.661926,0.049073,0.978868,3.475632,1.414774,2.479889,3.023710,4.286996
16,5,1981,1.804841,1981-05-01,-0.216387,-0.420924,0.501182,-0.110239,0.048082,0.974894,3.767896,1.248964,2.789972,3.752282,4.707521
17,6,1981,-0.163576,1981-06-01,1.932368,-0.216387,-0.420924,0.997794,-0.045121,0.957355,4.437049,1.255149,3.696201,4.781302,5.208843

In [30]:
RESCALE_FORECAST_PERSISTENCE.tail(18)

,Month,Year,Anomaly_Qlog,DATE,1_monthFcst,2_monthFcst,3_monthFcst,6_monthFcst,mean_A_H,std_A_H,mean,std,low,medium,high
498,7,2021,-0.129605,2021-07-01,1.161775,-0.090161,0.664754,-0.256902,-0.027881,0.983936,4.650095,0.998731,4.247932,4.843983,5.256322
499,8,2021,-0.005090,2021-08-01,-0.132957,1.161775,-0.090161,0.865628,0.003323,0.999779,4.529696,1.008154,3.948572,4.538346,5.161298
500,9,2021,0.059747,2021-09-01,-0.005232,-0.132957,1.161775,0.706709,0.000141,1.000000,4.583139,0.969229,3.961631,4.872367,5.124635
501,10,2021,-1.006693,2021-10-01,0.061410,-0.005232,-0.132957,0.664754,-0.001660,0.999949,4.152996,1.250680,3.386712,3.981831,5.110990
502,11,2021,-1.153155,2021-11-01,-1.048757,0.061410,-0.005232,-0.090161,0.027208,0.985835,3.851357,1.206802,2.983599,3.834529,4.652311
503,12,2021,-1.154836,2021-12-01,-1.206802,-1.048757,0.061410,1.161775,0.031166,0.981371,3.039635,1.121369,2.181597,2.712399,3.584717
504,1,2022,1.141266,2022-01-01,-1.210176,-1.206802,-1.048757,-0.132957,0.032079,0.980778,2.652358,1.152734,1.963947,2.435167,3.289771
505,2,2022,-0.252152,2022-02-01,1.164813,-1.210176,-1.206802,-0.005232,-0.008709,0.987261,2.980340,1.285381,2.103205,2.580642,3.337492
506,3,2022,-0.389803,2022-03-01,-0.284719,1.164813,-1.210176,0.061410,0.032535,0.999887,3.157047,1.193512,2.340484,2.756441,3.714395
507,4,2022,-0.613546,2022-04-01,-0.449192,-0.284719,1.164813,-1.048757,0.049761,0.978568,3.492843,1.406946,2.493991,3.125396,4.286996
508,5,2022,-0.178636,2022-05-01,-0.694677,-0.449192,-0.284719,-1.206802,0.059942,0.969499,3.832587,1.304066,2.789972,3.842171,4.775798
509,6,2022,-1.331390,2022-06-01,-0.183177,-0.694677,-0.449192,-1.210176,0.004466,0.999591,4.473706,1.226732,3.772557,4.781302,5.208843
510,7,2022,0.197415,2022-07-01,-1.396766,-0.183177,-0.694677,1.164813,0.033285,0.977025,4.641718,0.998440,4.247932,4.812913,5.256322
511,8,2022,-1.282212,2022-08-01,0.202581,-1.396766,-0.183177,-0.284719,-0.005062,0.999487,4.565461,0.984210,4.124829,4.541471,5.161298
512,9,2022,-1.975643,2022-09-01,-1.349889,0.202581,-1.396766,-0.449192,0.035617,0.976249,4.637940,0.913679,4.095474,4.872367,5.124635
513,10,2022,-1.762722,2022-10-01,-2.154083,-1.349889,0.202581,-0.694677,0.054879,0.942638,4.178918,1.212708,3.386712,3.981831,5.110990
514,11,2022,-1.097971,2022-11-01,-1.893876,-2.154083,-1.349889,-0.183177,0.047641,0.955904,3.849523,1.208961,2.983599,3.834529,4.652311
515,12,2022,-1.063870,2022-12-01,-1.147000,-1.893876,-2.154083,-1.396766,0.029675,0.983126,3.036746,1.124723,2.181597,2.712399,3.584717

Copy variable for Excel

In [31]:
filename_1 = 'santalucia_caudales_HINDCAST_PERSISTENCE_abr2023' + '_FL_1_2_3_6'

In [32]:
RESCALE_FORECAST_PERSISTENCE.to_csv('../data/' + filename_1 + '.csv', index = False)

In [57]:
#RESCALE_FORECAST_PERSISTENCE.to_clipboard()

In [58]:
#os.makedirs('../results/persistence', exist_ok=True)
#RESCALE_FORECAST_PERSISTENCE.to_csv('../results/persistence/fraymarcos_persistence.csv', index=False)